.box-container{
    width: 16em;
    height: 15em;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius:3em;
    box-shadow: 5px 5px 5px 5px rgb(45, 45, 99);
    color: azure;
    background-color: black;
    margin: 1rem;
}

.box-container:hover{
    cursor: pointer;
    box-shadow: 5px 5px 50px 5px rgb(45, 45, 99);
}
.conatiner-education{
    background-color: rgb(33,33,33);
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.inner-conatiner-education{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.h1-tag{
    margin: 3rem 0;
    color: azure;
}
