.navbar-conatiner{
    background-color: black;
    color: azure;
    position: fixed;
    width: 100vw;
    /* height: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}
.btn{
    width: 10rem;
    height: 2.5rem;
    background-color: rgb(33,33,33);
    color: azure;
    border-radius: 5em;
    box-shadow: 5px 5px 5px 5px rgb(45, 45, 99);
}

.btn:hover{
    cursor: pointer;
    box-shadow:   5px 5px 19px 10px rgb(255, 255, 255);
    background-color: aqua;
    color: black;
}
@media (max-width:410px) {
    .navbar-conatiner{
        gap: 10px;
        flex-direction: column;
        height: 15vh;
    }
}